
body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    background: #7c94ba;
}

}
html, body {
	margin: 0;
}
#icon {
	height: 20vh;
	text-align: center;
}
#wrapper {
	margin: 4%;
}
#menu {
    margin: auto;
}
div, input, button, select{
	font-size: 3vh;
}
button {
	min-height: 8vh;
	min-width: 8vw;
}

h1{
    font-size:6vh;
    font-weight:normal;
    margin:5px;
    overflow:visible;
    padding:5px;
}
h2 {
    font-size:3vh;
    font-weight:normal;
    margin:3px;
    overflow:visible;
    padding:3px;
}

.card_shown, .card_hidden, .card_done {
	background-color:#dddddd;
	border: 1px solid black;
	margin: 5px;
	padding: 0px;
	white-space:nowrap;
	float: left;
	min-height: 1vh;
	min-width: 1vw;
	opacity:1;
}

.card_shown  img, .card_hidden  img, .card_done  img {
	padding:0;
	margin:0;
	border:0;
}
.card_hidden {
	background-color:#bbbbbb;
	background: linear-gradient(to bottom right, #ffffff, #bbbbbb);
}
.card_done{
	background-color:#dddddd;
	opacity:0;
	visibility:hidden;
	transition:1.5s;

}
.card_hidden .cardtext {
	display:none;
}
.cardtext {
	font-size: 14px;
}
.highscore {
	font-size: 2vh;
}
#settingsbutton {
	position:absolute;
	top: 0px;
	right:0px;
	
}
#footer {
    position:fixed;
    bottom:0;
	font-size:8pt;
}
button img {
	width:5vh;
}
#settings {
	border: 1px solid white;
}
span.small {
	font-size:2vh;
}
img.inline {
	height: 2vh;
}
