<!DOCTYPE html>
<html ng-app="memory" ng-controller="Main as m">
  <head>
	<meta charset="utf-8"/>
	<script src="lockr.js"></script>
	<script src="jquery-3.1.1.min.js"></script>
    <script src="angular.min.js"></script>
	<script src="timbre.js"></script>
	<script src="data.js" charset="utf-8"></script>
	<script src="elefantbrain.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="css/index.css" />
  </head>
  <body>
  <div id="menu" ng-show="m.isactive=='menu'" ng-cloak>
		<select ng-model="g.language" ng-options="l.name for l in languages track by l.code"></select>
		<br />
		<select ng-model="m.count" ng-options="item for item in [2,4,6,8,10,12,16,20,24,30,36,42]"></select>{{text('pairs');}}
		<button ng-click="m.startMemory()">{{text('play')}}</button>

		<div id = "highscorelist" >
			<div><b>{{text('highscore');}}</b></div>
			<div ng-repeat="(key, value) in g.highscoreList track by $index" class="highscore">
			<b><u>{{key}} {{text('pairs')}}</u></b>
				<span ng-repeat="val in value track by $index" >
					<b>{{val.name}}</b>:  {{val.turns}}
				</span>
			</div>
		
		</div>
	
  </div>
	<div ng-show="m.isactive=='memory'" id="memory" ng-cloak>
	  <button ng-click="m.mainMenu()">{{text('back')}}</button>
	  <br />
	   <button ng-repeat="card in game.cards track by $index" style="{{m.getCardsize()}}" ng-class="'card_'+card.class" ng-disabled="card.class!='hidden'" ng-click="game.turn($index)">
		<img src="img/{{card['value']}}" class = "cardtext" style="{{m.getCardsize()}}"/>
	   </button>
	</div>
	
	<div id="footer">
	Most card images are designed by <a href="http://www.flaticon.com/authors/freepik" target="_blank">Freepik from Flaticon</a>
	</div>
  </body>
</html>
